<%- include('partials/header'), {pageTitle} %>
    <main>
      <h1><%= pageTitle %></h1>
      <p>This is About page.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      <p>Culpa dolores veritatis accusamus, vel, aspernatur nesciunt doloribus nemo, sit totam dignissimos cupiditate!</p>
      <p>Laborum labore neque ratione eligendi sunt tempore molestias suscipit blanditiis optio minima perspiciatis similique, distinctio fugiat omnis.</p>
      <p>Voluptas ullam voluptatum labore earum ab saepe libero illum fugiat voluptates necessitatibus fuga eum expedita perspiciatis ad sunt ratione doloribus sed, velit quam, iure accusantium similique consequatur a!</p>
      <p>Expedita totam reiciendis natus voluptates fugit aliquid laboriosam eius, consequatur amet, maxime esse deleniti corrupti asperiores!</p>
    </main>
<%- include('partials/footer') %>
    