<%- include('partials/header'), {pageTitle} %>
    <main>
      <h1><%= pageTitle %></h1>
      <p>This is Contact page.</p>
      <ul>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, non?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut mollitia excepturi nihil, esse porro voluptatibus quam quod? Ut itaque repellat quam. Voluptatibus ut molestias distinctio aspernatur itaque voluptatem!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, at? Suscipit iure accusantium sint maiores maxime.</li>
      </ul>
    </main>
<%- include('partials/footer') %>
    