<%- include('partials/header'), {pageTitle} %>
    <main>
      <h1><%= pageTitle %></h1>
      <p>This is my Homepage.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus commodi eum iste quaerat provident pariatur deserunt blanditiis harum accusantium, quasi voluptate! Minus placeat architecto sunt ad culpa, aut sapiente incidunt?</p>
    </main>
<%- include('partials/footer') %>
    